#Python
.pytest_cache
.eggs
src/pycli.egg-info
dist/
build/
__pycache__
.pypy_cache
pycli.egg-info/
pylint.html


#Idea
.idea/*
!.idea/runConfigurations
*.iml
*.ipr
*.iws

# vs code
.history/

# Tests and lint
tests_report.html
.coverage
htmlcov/

.tmp/
